In [1]:
import pyodbc

In [14]:
class UpdateObsoletos:
    def __init__(self):
        self.server_solmicro = r'srvsql'
        self.database_solmicro = 'SolmicroERP6_PruebasSub'
        self.username_solmicro = 'sa'
        self.password_solmicro = 'Altai2021'
        self.connection_string_solmicro = f'DRIVER={{SQL Server}};SERVER={self.server_solmicro};DATABASE={self.database_solmicro};UID={self.username_solmicro};PWD={self.password_solmicro}'
        self.connection = None
        self.tables_info = []

    def Open_Conn_Solmicro(self):
        try:
            self.connection = pyodbc.connect(self.connection_string_solmicro)
            return self.connection
        except Exception as e:
            print("Error opening connection: ", e)

    def __del__(self):
        self.CloseConnection()

    def CloseConnection(self):
        try:
            self.connection = pyodbc.connect(self.connection_string_solmicro)
            return self.connection
        except Exception as e:
            print("Error opening connection: ", e)
            
    def RunQuery(self,stringQuery):
        cursor = self.connection.cursor()
        register = cursor.execute(stringQuery).fetchall()
        cursor.close()
        return register

    def UpdateField_IDEstado(self,string_query):
        try:
            list_article = self.RunQuery(stringQuery=string_query)
            cursor = self.connection.cursor()
            for row in list_article:
                query = f"UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='{row.IDArticulo}'"
                cursor.execute(query)
                #row[4] = 'O'
                #cursor.updateRow(row)
                print(query)
            self.connection.commit()
            cursor.close()
        except Exception as e:
            print('Error',e)

In [15]:
string_query =r"SELECT   IDArticulo, DescArticulo, IDTipo, IDFamilia, IDEstado FROM  tbMaestroArticulo WHERE  (IDFamilia = N'4020') AND (CHARINDEX('obsoleto', DescArticulo) > 0)"
i_UpdateObsoletos = UpdateObsoletos()
i_UpdateObsoletos.Open_Conn_Solmicro()
i_UpdateObsoletos.UpdateField_IDEstado(string_query=string_query)

UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='0809280040401C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='09418-2-4039'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='0949802235'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1004-05'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1008616ALARGADERA GM'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='100-9309.00-00001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1022-08 LEGUETA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1022-U76 CARCASA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1022-U82 INSERTO'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1048-U8'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1049-U15'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='15615-02-C8'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1MM 5356 ALMG 4,5%'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-0019'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-0020'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-0425'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-0426'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2003 BESA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-3610.06-07001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-3611.06-07001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2007031 Fosfato'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9102'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9232'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9464'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9504'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9518'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9520'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9601'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='200-9603'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='201-9001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='201-9002'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='201-9026.00-00380'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='201-9026.00-00460'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='201-9026.00-00485'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='201-9026.00-00523'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2024 74 8'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2024 76 4'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2024 77 2'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2033 21 6'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2033.9973'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='204-0103'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2048 13 2'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2048 22 1'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2048 29 9'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1 M.M (CO2)ROBOT MAR'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1,6 M.M (ER70S6)'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1.250.92.032.03C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1.273.92.035.02C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-111-JB'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-20'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-26'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-27'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-277'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-28'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U141'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U183'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U45'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U5'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U56'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U655-01'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U776'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U776-PH'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1000-U777'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1001-U11'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='138001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='151-27019'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='151-27219'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1932.6285'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1936296HF C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1939.8339'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='19-7-3730'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='207-9518'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='207-9524'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='207-9525'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='207-9528'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='20817-329'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='20817-330'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='209-0301'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='209-0302'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='209-0802'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='209-1204.00-00050'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='209-1305.00-00000'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='24225-20204'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='24-7-3553'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='25056dp32'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='260 Q 3030 1,5-2'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='302-3292'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='31408-01-C8'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.41.030.025'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.98.030.593'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='205-0861 RS'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='226.019.00002'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='226.019.00004'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='226.019.00013'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='226.019.00015'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='23280'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='233.10.060.045'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='233.11.030.030'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='233.41.120.030'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='233.48.040.030'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='233.48.050.001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='233.48.100.053'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='23358'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='28400.0-00'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='285-8643'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='333514 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='333700 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='333727 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='336025 CABLE COMPLET'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='460900'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='466031'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='467644'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='470510351'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='4711315'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-80-102-14'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-80-322-10'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-80-692-10'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-81-181-50'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-83-302-10'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-83-502-10'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='478720-0,3'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='478760-1'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-91-301-22'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-91-321-20'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-91-321-22'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='47-93-601-60'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='493438'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='51390P10'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='514-M25'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='51501203'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='523.348.060.001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='52-39-51-4'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='0050181781500C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='0050183108400C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='0050183108500C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='0417600301'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='042 1200 699 07'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='058011550'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='058011580'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='062 2589'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='11611 MID SLATE F12'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='120091'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='121092'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1254851 UTIL SUPRA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='135212'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1909.9691'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1910.5000'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1910.5008'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='234HB 200X200X4'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='318779 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='32507-01_PROT_C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='328774 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='3EH-212649ANULADO'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='453-2567'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434038'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434039'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434040'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434107'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434108'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434109'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434113'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434160'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='45434235'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='7072200 CEPILLO'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='9084001300'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='9133'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='91-522-52'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='91-600-52'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='950-201276D'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='950-202001E'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='950-202643J'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='950-202644G'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='950-232663G'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='96-50-510-50'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='96-50-520-50'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='96-MA-80-24'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='9820-51124'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='99059822'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='9918700000 TSLD 5'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.98.040.628'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.98.050.622'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.98.050.628'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.98.100.690'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343.98.100.692'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='343552 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='344338 PG1 PISTOLA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='346-9503'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='351709 ELECTRODO'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='3EKD404051C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='42133.7042 G'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='42364 12'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='44014205'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='44014205 CAT'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='550405.83'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='550605.83'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='563275 115'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='56-60-15'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='56-99-196-20'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='59904'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='60118437'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='606185'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='712887-015C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='7178000001PZANYLON1'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='7178000001PZANYLON2'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='7178000001PZANYLON3'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='7178000001PZANYLON4'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='719077 C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='727159SER'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='727160SER'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='8501150901VR'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='900-0000.00-01488'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='9005 BESA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='90062.0000.0.009'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='9011 URKI-TEXT'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='A8894 01 C14'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='A8894 01 C15'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='A8894 01 C17'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='A8894 01T'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ACEITE BONDERITE'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ACEITE HIDR.ISO VG68'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='00100202693'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='00100700028M'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='00100700092'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='015702'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='01661-00410'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1095-24-200AA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1095-U32-100IA'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='1640223-019FOT'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='17438 01C'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='21100-1381'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='21130-242'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='216-9012'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='216-9015'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='216-9113'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='216-9115'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='216-9116'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='220-0502'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='220-9018'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='222-9001'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='222-9105'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='224-9102'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='29-0124D'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='29-72089'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='2MM 5356 ALMG 4,5%'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='377708 EASYFLOW'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='377724 EASYFLOW'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='377856 EASYFLOW'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='379140 EASYFLOW'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='407-9003'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='410750'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='416201'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='660667'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='661033'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='66307'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='66354'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='66-667'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ALCOHOL'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ALCOHOL 002'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ALICATE CORTAHILO180'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ALICATE UNIVERSAL180'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ALM 5754 H-111(2)125'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='ALM5754111-0302010D0'
UPDATE tbMaestroArticulo SET IDEstado = 'O' WHERE IDArticulo ='526-388'